<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Movies List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
    <button ion-item>
      <ion-avatar item-left>
        <img [src]="image_base_url + item.poster_path">
      </ion-avatar>
      <h2 slot="end">{{item.title}}</h2>
      <p slot="end">{{item.release_date}}</p>
    </button>

    <ion-card-content>
      <ion-item class="description">
        {{item.overview}}
      </ion-item>
      <ion-item style="text-align: end">
        <ion-note>
          Valoración :{{item.vote_average}}
        </ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>


<!--

 <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>

-->